@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    3612 Weatherby Dr<br />
    Durham, NC 27703<br />
    <abbr title="Phone">P:</abbr>
    919.491.1432
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:mosesmwangi1979@example.com">mosesmwangi1979@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/moses-mwangi-787a7431">Linked In</a>
</address>