@model MbuthaWebAppDemo.Models.EmailModel

@{
    Layout = null;
}


<html>
<head>
    <meta charset="utf-8">
    <title>Moses Mbutha Mwangi Web Dev Portfolio</title>
    <meta name="description" content="Moses Mbutha Mwangi Bootstrap Landing page created &#64 Coder Foundry Bootcamp." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <!--Carousel script tags-->
    


    @*<link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">*@
    <script src="~/Scripts/SyntaxHighlighter/scripts/shCore.js"></script>
    <script src="~/Scripts/SyntaxHighlighter/scripts/shBrushJScript.js"></script>

    <link href="~/Scripts/SyntaxHighlighter/scripts/shCore.js" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/SyntaxHighlighter/styles/shCoreMidnight.css" rel="stylesheet" type="text/css" />


    <script src="https://code.iconify.design/1/1.0.2/iconify.min.js"></script>

    <link href="~/Content/mbuthaMain.css" rel="stylesheet" />


</head>


<body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#first"><i class="ion-ios-analytics-outline"></i> Moses Mwangi</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#one">Intro</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#two">Education</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#three">Coding Challenges</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#four">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#last">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" title="Offering Sound Full Stack Solutions" href="#aboutModal">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header id="first">
        <div class="header-content">
            <div class="inner">
                <h1 class="">.Net Full Stack Developer Moses Mbutha Mwangi</h1>
                <h4>Offering Sound Full Stack Solutions: Using the .Net stack of technologies in cluding but not limited to HTML5, CSS3, C#, Miscrosoft SQL, Razor, BootStrap and Azure related services</h4>
                <hr>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <h6 class="wide-space text-center">TECHNOLGIES THAT I HARNESS IN MY WORK</h6>
                        <br />
                        <div class="col-sm-2 col-xs-6 text-center">
                            <i class="iconify" data-icon="logos:github-octocat" f data-inline="false"></i>
                            <br />
                            github
                        </div>
                        <div class="col-sm-2 col-xs-6 text-center">
                            <i class="iconify" data-icon="logos:visual-studio" f data-inline="false"></i>
                            <br />
                            visual studio
                        </div>
                        <div class="col-sm-2 col-xs-6 text-center">
                            <i class="iconify" data-icon="logos:bootstrap" f data-inline="false"></i>
                            <br />
                            bootstrap
                        </div>
                        <div class="col-sm-2 col-xs-6 text-center">
                            <i class="iconify" data-icon="logos:javascript" f data-inline="false"></i>
                            <br />
                            javascript
                        </div>
                        <div class="col-sm-2 col-xs-6 text-center">
                            <i class="iconify" data-icon="logos:html-5" f data-inline="false"></i>
                            <br />
                            html 5
                        </div>
                        <div class="col-sm-2 col-xs-6 text-center">
                            <i class="iconify" data-icon="logos:css-3" f data-inline="false"></i>
                            <br />
                            css3
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="bg-primary" id="one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                    <h2 class="margin-top-0 text-primary">My Ethos is to build Cool responsive, intuitive pages, built just for you</h2>
                    <br>
                    <p class="text-faded">
                        Design is not just what it looks like and feels like, design is how it works "Steve Jobs".
                    </p>
                    <a href="#three" class="btn btn-default btn-xl page-scroll">Learn More</a>
                    <h4 class="primary">
                        <a href="https://www.linkedin.com/in/moses-mwangi-787a7431">Click to see my linked in profile</a>
                    </h4>
                </div>
            </div>
        </div>
        <!--Start of carousel-->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Images/bootstra-fade2.jpg" alt="Bootstrap">
                    <div class="carousel-caption img-responsive">
                        <h1 class="carotext">Bootstrap means functionally beautiful sites</h1>
                        <h2 class="carotext">The ingeniuty of Bootstrap 3 and 4</h2>
                        <h3 class="carotext">So many ways to design wonderful pleasing site that can be deployed quickly and styled purposefully with bootstrap</h3>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Images/Csharp.png" alt="Csharp">
                    <div class="carousel-caption img-responsive">
                        <h1 class="carotext">C# and Micrsoft MS-MSL</h1>
                        <h2 class="carotext">We have build powerfull web based softwate with a robust database and powerfull code to back it up</h2>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Images/Git.png" alt="Version Control">
                    <div class="carousel-caption img-responsive">
                        <h1 class="carotext">Git</h1>
                        <h2 class="carotext">From installing the Git Hub desktop app and Using it daily as we work on projects.</h2>
                        <h3 class="carotext">We have learnt that version control is crucial especially when you need a back up for your data</h3>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Images/html5.jpg" alt="HTML5">
                    <div class="carousel-caption img-responsive">
                        <h1 class="carotext">Html and CCS</h1>
                        <h2 class="carotext">Most of the page structure is constucted with Html and CSS is responsible for defining style elements.</h2>
                        <h3 class="carotext">Coder Foundry has anabled me to to me more proficient and comfortable in HTML and CSS</h3>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Images/javscript.jpg" alt="Javascript">
                    <div class="carousel-caption img-responsive">
                        <h1 class="carotext">Javascript</h1>
                        <h2 class="carotext">Javascript Embeded Code Enabling Syntax highlighter, and functionality of coding exercises</h2>
                        
                        </h3>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!--End of Carousel-->
    </section>
    <section id="two">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="margin-top-0 text-primary">Education</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 text-center">
                    <div class="feature">
                        <i class="iconify" data-icon="ic:outline-school" data-inline="false" data-wow-delay=".3s"></i>
                        <h3>Undergraduate</h3>
                        <p class="text-muted">Jomo Kenyatta University of Agricaulture and technology</p>
                        <span> Graduated cum laude with a B. Sc Information technology</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-social-javascript wow fadeInUp" data-wow-delay=".2s"></i>
                        <h3>Software Coding</h3>
                        <p class="text-muted">Coder Foundry</p>
                        <span>Learning to code and develop web app for business as per customer specifications</span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="margin-top-0 text-primary">Work Experience</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <i class="icon-lg ion-gear-a wow fadeInUp" data-wow-delay=".2s"></i>
                    <h3>NCR</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="">
                        <p class="text-muted">Customer Engineer</p>
                        <ol class="workexperience">
                            <li>Service electromechanical equipment like ATMs and self-checkout systems within an assigned territory—with the goal of keeping our customers completely assured and satisfied.</li>
                            <li>Oversee hardware maintenance, installation, network management, multi-vendor maintenance, and software support.</li>
                            <li>Unleash your manual skills on products like peripherals, large system printers, plotters, enterprise level servers, communications equipment, networks, and item processing sorters. We’re talking Ethernet, Token-Ring, StarLAN, NetBIOS, X.25—the whole gamut.</li>
                            <li>Build great working relationships among colleagues and customers based on our customer Service Level Agreements (SLAs). When issues come up, your job is to respond them by either handling them, or by pulling in the proper associate, team member, or territory manager who can.</li>
                            <li>Build great working relationships among colleagues and customers based on our customer Service Level Agreements (SLAs). When issues come up, your job is to respond them by either handling them, or by pulling in the proper associate, team member, or territory manager who can.</li>
                            <li>Perform maintenance repair and system overhauls as a matter of routine (like modular swaps and unit replacements). You’ll surely always be on the lookout for preventative measures you can take to correct any and all technical problems before they happen.</li>
                            <li>Capture customer information so that we can complete any invoicing, as well as stay in contact to ensure we’re providing the best possible service.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <i class="icon-lg ion-android-globe wow fadeInUp" data-wow-delay=".2s"></i>
                    <h3>At&amp;t / DIRECTV</h3>
                    <p class="text-muted">Professional Satellite Installer</p>
                </div>
                <div class="col-lg-6 text-center">
                    <i class="icon-lg ion-social-javascript wow fadeInUp" data-wow-delay=".2s"></i>
                    <h3>IT KIDS Kenya LTD.</h3>
                    <p class="text-muted">Technical Manager</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4">
                    <div class="">

                        <ol class="workexperience">
                            <li>Conducting site surveys - determine the best positioning of our equipment for strongest signal reception</li>
                            <li>Installing cutting edge technology - place mounts, satellite dishes and receivers while ensuring broadband connectivity</li>
                            <li>Educating customers - review order with the customer and teach them the basics to use and enjoy their new service and equipment</li>
                            <li>Providing Dish Smart Home Services - successful technicians offer our customers additional services and products while earning incentives and building new skill sets that will propel them into the future of in-home services delivery</li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="">

                        <ol class="workexperience">
                            <li>Conducting site surveys - determine the best positioning of our equipment for strongest signal reception</li>
                            <li>Installing cutting edge technology - place mounts, satellite dishes and receivers while ensuring broadband connectivity</li>
                            <li>Educating customers - review order with the customer and teach them the basics to use and enjoy their new service and equipment</li>
                            <li>Providing Dish Smart Home Services - successful technicians offer our customers additional services and products while earning incentives and building new skill sets that will propel them into the future of in-home services delivery</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!--Picture Start-->
    </section>
    <!--Start of Coding Exercises Section-->
    <section id="three" class="no-padding">
        <aside class="bg-dark">
            <div class="row addpadding">
                <div class="row text-left">
                    <h2 class="text-center text-primary">Coding Chellenges</h2>
                    <hr />
                    <!--Start of Sum of all fears-->
                    <div class="col-lg-2 addpadding">
                        <!-- Sum of all fears modal -->
                        <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">Sum of All fears</button>
                        <br /><p></p>
                        The Sum of All Fears Coding challenge involves an array of integers and some number called 'K'. If K can be derived
                        can be derived from adding any two numbers from the array then it is said to contain that 'K' value.
                        <p></p>
                        <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content container-fluid add">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Sum of all fears</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="Row">
                                            <h2>Sum Of all your Fears</h2>
                                            <div class="row addpadding">
                                                <p>
                                                    The Sum of All Fears Coding challenge involves an array of integers and some number called 'K'. If K can be derived
                                                    can be derived from adding any two numbers from the array then it is said to contain that 'K' value.
                                                </p>
                                            </div>
                                            <div class="row addpadding">
                                                <p>Please enter six numbers in the provided boxes below</p>
                                            </div>
                                            <!--inout boxes for sum of all fears-->
                                            <div class="row">
                                                <div class="col-lg-12">

                                                    <div class="col-sm-2">
                                                        <input id="soafNum1" type="number" class="form-control" />
                                                    </div>

                                                    <div class="col-sm-2">
                                                        <input id="soafNum2" type="number" class="form-control" />
                                                    </div>

                                                    <div class="col-sm-2">
                                                        <input id="soafNum3" type="number" class="form-control" />
                                                    </div>

                                                    <div class="col-sm-2">
                                                        <input id="soafNum4" type="number" class="form-control" />
                                                    </div>

                                                    <div class="col-sm-2">
                                                        <input id="soafNum5" type="number" class="form-control" />
                                                    </div>

                                                    <div class="col-sm-2">
                                                        <input id="soafNum6" type="number" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row addpadding">
                                                Establish a 'K' value by entering a number below
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <input id="kValue" type="number" class="form-control addpadding" />
                                                </div>
                                            </div>
                                            <div class="row addpadding">
                                                <button id="soafRun" class="btn btn-default addpadding">Search</button>
                                                <button id="btnClearSof" class="btn btn-default addpadding">Clear</button>
                                            </div>
                                            <div class="col-md-6">
                                                <button id="showToggle" class="btn btn-primary">Show Code</button>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">

                                                    <h5 id="soafAns"></h5>

                                                </div>
                                            </div>
                                            <div id="code1" class="rows">
                                                <pre class="brush: js container">
$("#soafRun").click(function () {

    var userKvalue = $("#kValue").val();
    var firstNumber;
    var secondNumber;

    var user = [
        +$("#soafNum1").val(),
        +$("#soafNum2").val(),
        +$("#soafNum3").val(),
        +$("#soafNum4").val(),
        +$("#soafNum5").val(),
        +$("#soafNum6").val()
    ];

    //Loop through the array and add the adjacent number and check for the answer

    for (var varArray = 0; varArray < user.length; varArray++) {
        //This inner loop cycles through the rest of the adjacent numbers trying to find a valid number
        for (var innerLoop = varArray + 1; innerLoop < user.length - 1; innerLoop++) {
            //this inner inner loop checks a condition that meets the value knm
            if (userKvalue == user[varArray] + user[innerLoop]) {
                firstNumber = user[varArray];
                secondNumber = user[innerLoop];

                break;//for loop control mechanism, comes out of the foreloop when the condition is met
            }
            else {
                $("#KValueAfter").html("<b>K value was not found</b>");
            }
        }
    }
    //output values to display

   
    valMessage = userKvalue + " was found by adding " + firstNumber + " and " + secondNumber + "."

    $("#soafAns").text(valMessage);
												
                                                </pre>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End of sum of all fears -->
                    <!-- Start of palindrome modal with a button -->
                    <div class="col-lg-2 addpadding">
                        <!-- palindrome modal with a button -->
                        <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal2">Palindrome</button>
                        <br /><p></p>
                        A palindrome program that lets the user input a word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.
                        <!-- Modal -->
                        <div id="myModal2" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content container-fluid">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">The Palindrome Project</h4>

                                    </div>
                                    <div class="modal-body">
                                        A palindrome program that lets the user input a word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input id="palIn" type="text" placeholder="Enter your word" class="form-control palIn" />

                                                <button id="btnPal1" class="btn btn-default addpadding">Check Palendrome with Strings</button>

                                                <button id="btnPal2" class="btn btn-default addpadding">Check Palendrome with Array</button>
                                                <br />
                                                <button id="btnClearPal" class="btn btn-default addpadding">Clear text</button>
                                                <br />
                                                <button id="showTogglePal" class="btn btn-primary">Show Code</button>
                                            </div>
                                            <div class="col-md-6 text-center">
                                                <h3><b><u>Is your word a Palendrome ?</u></b></h3>
                                                <div class="row">
                                                    <p>Using the string method:</p>
                                                    <p id="palOut"></p>
                                                </div>
                                                <div class="row">
                                                    <p>Using the Array method:</p>
                                                    <p id="palOut2"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="code2" class="rows">
                                            <!--This is where the pre tag codes go-->
                                            <pre class="brush: js container">
$("#btnPal1").click(function () {
        //Step 1: Get the word
        var word = $("#palIn").val();

        var reverseWord = "";
        var nonSpaceWord = "";

        nonSpaceWord = word.replace(/\s+/g, "").toLowerCase();
        //nonSpaceRev = Reverse(nonSpaceWord).toLowerCase();
        //Step2: Reverse the word
        //Decrementing for loop in conjuction with the subtr command and the += operator to produce the reverse word
        //reverseWord = Reverse(word);

        for (var i = word.length - 1; i >= 0; i--) {
            reverseWord += nonSpaceWord.substr(i, 1);
            }
            var valMessage = "";

            if (nonSpaceWord === reverseWord) {
            valMessage = nonSpaceWord + " is the same as " + reverseWord + " therefore " + word + " is a palindrome"
            }
            else {
            valMessage = nonSpaceWord + " is not the same as " + reverseWord + " therefore " + word + " is not a palindrome"
            }
        //Show the reversed word

        $("#palOut").text(valMessage);

    })
</pre>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--End of Palindrome-->
                    <!--Start of the FizzBuzz Modal-->
                    <div class="col-lg-2 addpadding">
                        <!-- FizzBuzz modal with a button -->
                        <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal3">FizzBuzz</button>
                        <br /><p></p>
                        A Fizz Buzz Program that Write a short program that prints each number from 1 to 100 on a new line. For each multiple of a number,
                        prints "Fizz" instead of the number. For each multiple of another input number, prints "Buzz" instead of the number.
                        For numbers which are multiples of both numbers, print "FizzBuzz" instead of the number.
                        <!-- Modal -->
                        <div id="myModal3" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content addpadding">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Fizz Buzz Coding Challenge</h4>
                                    </div>
                                    <div class="modal-body">
                                        Enter two numbers and for each multiples of the numbers, the program will print either "Fizz" or "Buzz"
                                        instead of the numbers, for every number encountered which is a multiple of both numbers, the program will print "FizzBuzz" instead of the number.
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="row">
                                                    <input id="fbInput1" type="number" class="form-control addpadding" placeholder="Enter your first number" />
                                                </div>

                                                <div class="row">
                                                    <input id="fbInput2" type="number" class="form-control addpadding" placeholder="your second number" />
                                                </div>

                                                <div class="row addpadding">
                                                    <button id="btnFizzBuzz" class="btn btn-default">Check to See if its a fizzbuzz</button>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <button id="btnClearBuzz" class="btn btn-default">Clear Text</button>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button id="showToggleFiz" class="btn btn-primary">Show Code</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2"></div>
                                            <!--Out put column-->
                                            <div class="container">
                                                <div class="col-lg-6">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <u>FizzBuzz Result</u>
                                                            <br />
                                                            <p class="wrap modalback" id="fizzBuzzOut"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="code3" class="rows">
                                            <!--This is where the pre tag codes go-->
                                            <pre class="brush: js container">
$("#btnFizzBuzz").click(function () {

    var num1 = +$("#fbInput1").val();
    var num2 = +$("#fbInput2").val();
    var output = " ";
    var space = " ";

    //var fizzbuzzbuzzEntry = "<span class='fizzbuzz'>Fii-Buzz</span>";

    for (var counter = 1; counter <= 100; counter++) {

        if (counter % num1 == 0 && counter % num2 == 0) {

            output += "<span class='fizzbuzz'>Fizz-Buzz" + space + "</span>";
        }

        else if (counter % num1 == 0) {

            output += "<span class='fizz'>Fizz" + space + "</span>";
        }

        else if (counter % num2 == 0) {

            output += "<span class='buzz'>Buzz" + space + "</span>";
        }
        else {
            output += "<span>" + counter + space + "</span>";
        }


    }

    output = output.substr(0, output.length - 2);

    $("#fizzBuzzOut").html(output);
    //clear text

    $("#btnClearBuzz").click(function () {

        $("#fizzBuzzOut").val('');

        $("#fbInput1").val('');

        $("#fbInput2").val('');

    })
</pre>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of Fizz Buzz-->
                    <!--Start of factoral modal-->
                    <div class="col-lg-2 addpadding">
                        <!-- Factoral modal with a button -->
                        <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal4">Factoral</button>
                        <br /><p></p>
                        This challenge requires you to return the factorial of a given number. A factorial of some number N is N multiplied by
                        (N-1) multiplied by (N-2) and so forth until you reach the number 1. Then the program terminates
                        <!-- Modal -->
                        <div id="myModal4" class="modal fade container" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Factoral</h4>

                                    </div>
                                    <div class="modal-body">
                                        <div class="row addpadding">
                                            <p>Enter a number in the space provided and the program will generate the factoral of that number</p>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <input id="fact" type="number" placeholder="Enter your number" class="form-control addpadding" />
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <button id="btnFact" class="btn btn-default">Calculate</button>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button id="btnClearFact" class="btn btn-default">Clear Number</button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <button id="showToggleFact" class="btn btn-primary addpadding">Show Code</button>
                                                </div>
                                            </div>
                                            <div class="col-md-8 text-center">
                                                <u>Result</u>
                                                <p id="factOut"></p>
                                            </div>
                                        </div>
                                        <div id="code4" class="rows">
                                            <!--This is where the pre tag codes go-->
                                            <pre class="brush: js container">

                                                $("#btnFact").click(function () {
            //Step 1: Get User data
             var number = +$("#fact").val();


        //we are trying to make sure the user does not enter numbers greater than 170
        if (number > 170) {
            alert("Please enter positive numbers less than 171");
            $("#fact").val('');
            return;//return satement used to kick out the click anonymous function
        }

         else {
               //Step 2:Calculate the factorial
               for (var loop = number - 1; loop > 1; loop--) {
                //How do we calculate the factorial
                number *= loop;
            }

         }
        //Step: Show the result
        $("#factOut").text(number);
        })

        //Clear the text
        $("#btnClear").click(function () {

        $("#factOut").val('');

        })

                                            </pre>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of the Factoral Modal-->
                    <!--Start of Math Exercise Modal-->
                    <div class="col-lg-3 addpadding">
                        <!-- Math Exercise modal with a button -->
                        <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal5">Math Exercise</button>
                        <br /><p></p>
                        A Math Exercise that allows the user to input 5 number and from those five numbers get the Lowest, Highest, mean and Sum of the numbers
                        <!-- Modal -->
                        <div id="myModal5" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content container-fluid">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Math Exercise</h4>
                                    </div>
                                    <div class="modal-body">
                                        This page allows you to calculate five numbers that you enter randomly
                                        <br />
                                        <div class="row">
                                            <!--split it into columns for text and input boxes-->
                                            <!--First Column-->
                                            <div class="col-sm-6 container">
                                                <!--First Inner Column-->
                                                <input type="number" id="mathNum1" class="form-control addpadding" placeholder="Enter your First Number" />

                                                <input type="number" id="mathNum2" class="form-control addpadding" placeholder="Enter your Second Number" />

                                                <input type="number" id="mathNum3" class="form-control addpadding" placeholder="Enter your Third Number" />

                                                <input type="number" id="mathNum4" class="form-control addpadding" placeholder="Enter your Fourth Number" />

                                                <input type="number" id="mathNum5" class="form-control addpadding" placeholder="Enter your Fifth Number" />

                                                <div class="row">
                                                    <button type="button" class="btn btn-default addpadding" id="btn1">Tap to Calculate</button>
                                                    <button id="clearBtn" type="button" class="btn btn-default addpadding">Clear</button>
                                                    <button id="showToggleMath" class="btn btn-primary">Show Code</button>
                                                </div>
                                            </div>
                                            <!--Second column-->
                                            <div class="col-sm-6 container">
                                                The Results for the calculations is:
                                                <p id="least"></p>
                                                <p id="greatest"></p>
                                                <p id="mean"></p>
                                                <p id="sum"></p>
                                                <p id="product"></p>
                                            </div>
                                        </div>
                                        <div id="code5" class="rows">
                                            <!--This is where the pre tag codes go-->
                                            <pre class="brush: js container">
$("#btn1").click(function () {
            //Step 1: get the user data
            var num1 = Number($("#mathNum1").val());
            //getting the value from user input from an input element
                var num2 = Number($("#mathNum2").val());//
                var num3 = Number($("#mathNum3").val());
                var num4 = Number($("#mathNum4").val());
                var num5 = Number($("#mathNum5").val());

            //Step 2: Do something with the data in this case add and multiply
            //perform some operation
            //var sum = num1 + num2 + num3 + num4 + num5;
            //var product = num1 * num2 * num3 * num4 * num5;
            //var average = sum / 5;

            $("#least").text("The smallest number is: " + Math.min(num1, num2, num3, num4, num5));
            $("#greatest").text("The largest number is: " + Math.max(num1, num2, num3, num4, num5));
            $("#sum").text("The sum of the numbers is: " + (num1 + num2 + num3 + num4 + num5));
            $("#product").text("The product of numbers is: " + (num1 * num2 * num3 * num4 * num5));
            $("#mean").text("The average of numbers is: " + (num1 + num2 + num3 + num4 + num5)/5);


            //Step 3 display the results
            //$("#greatest").text("The largest number is: " + largest);
            //$("#mean").text("The sum of the numbers is: " + sum);
            //$("#sum").text("The product of the numbers is: " + product);
            //$("#product").text("The average of the numbers is: " + average);
            })

            //step 4 button to clear the results
            $("#clearBtn").click(function () {
            $("#mathNum1,#mathNum2,#mathNum3,#mathNum4,#mathNum5").val("");
            
            $("#least, #greatest, #mean, #sum, #product",).text("");

            })
                                            </pre>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of the math exercise modal-->
                </div>
            </div>
        </aside>
    </section>
    <!--Start of Coding Exercises Section-->
    <!--Picture End-->
    <section id="four" class="no-padding">
        <h2 class="text-center text-primary">Projects</h2>
                <div class="container-fluid">
                    <div class="col-md-12 text-center">
                        <a href="https://github.com/african-codeninja" target="_blank">My GitHub Repo</a><br />
                        <a href="~/Images/Moses Mwangi FINAL Resume.pdf" target="_blank">My Resume</a>
                    </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-default btn-lg"><a href="https://mwangiblog2.azurewebsites.net/" target="_blank">Click for MosBlog</a></button>
                <h3>Blog Project Built Using HTML, CSS, Bootstrap , Miscrosoft SQL and C#</h3>
            </div>
        </div>

        <div class="container-fluid">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-default btn-lg"><a href="https://acnbugtracker.azurewebsites.net/" target="_blank">Click for Bug Tracker</a></button>
                <h3>
                    Fully designed and developed a multi-functional issue tracker web application,
                    implementing enhanced roles & security, which also used a Code First Relational
                    database designed and modeled in SQL Server. Technologies used include: .Net
                    Framework v. 4.6.1, Bootstrap Framework, MVC5 with Entity Framework,Html5 pages 
                    embeded with Razor code, C# for business logic, LINQ, Microsoft SQL, Entity Framework, 
                    DataTables and Fusion Charts for presentations using jquery
                </h3>
            </div>
        </div>

    </section>
    <div class="row">

    </div>


    <section id="last">
        <aside class="bg-dark">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="margin-top-0 wow fadeIn">Get in Touch</h2>
                            <hr class="primary">
                            <p>MOSES MBUTHA MWANGI || 3612 Weatherby Dr. || Durham NC 27703 || 919-491-1432 || mosesmwangi1979@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="margin-top-0 wow fadeIn"></h2>
                        <hr class="primary">
                        <p>We love feedback. Fill out the form below and we'll get back to you as soon as possible.</p>
                    </div>
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-md-4">
                                <label></label>
                                <input type="text" class="form-control" placeholder="Name" name="FromName">
                            </div>
                            <div class="col-md-4">
                                <label></label>
                                <input type="text" class="form-control" placeholder="Email" name="FromEmail">
                            </div>
                            <div class="col-md-4">
                                <label></label>
                                <input type="text" class="form-control" placeholder="Phone" name="Subject">
                            </div>
                            <div class="col-md-12">
                                <label></label>
                                <textarea class="form-control" rows="9" placeholder="Your message here.." name="Body"></textarea>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <label></label>
                                <button type="submit" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">Send <i class="ion-android-arrow-forward"></i></button>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </aside>
    </section>
    <h3><span class="pull-right text-muted small"><a href="https://mosescoder.azurewebsites.net/">Created by Moses Mbutha Mwangi</a>©2019</span></h3>
    @*<footer id="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 col-sm-3 column">
                        <h4>Information</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="">Products</a>
                            </li>
                            <li>
                                <a href="">Services</a>
                            </li>
                            <li>
                                <a href="">Benefits</a>
                            </li>
                            <li>
                                <a href="">Developers</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-3 column">
                        <h4>About</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                            <li>
                                <a href="#">Delivery Information</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-3 column">
                        <h4>Stay Posted</h4>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" title="No spam, we promise!" placeholder="Tell us your email">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#alertModal" type="button">Subscribe for updates</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-3 text-right">
                        <h4>Follow</h4>
                        <ul class="list-inline">
                            <li>
                                <a rel="nofollow" href="https://twitter.com/mosdefmosaic" title="Twitter"><i class="icon-lg ion-social-twitter-outline"></i></a>&nbsp;
                            </li>
                            <li>
                                <a rel="nofollow" href="https://www.facebook.com/moses.m.mwangi" title="Facebook"><i class="icon-lg ion-social-facebook-outline"></i></a>&nbsp;
                            </li>
                            <li><a rel="nofollow" href="" title="Dribble"><i class="icon-lg ion-social-dribbble-outline"></i></a></li>
                            <li>
                                <a rel="nofollow" href="https://www.instagram.com/mosnginazuri/" title="instagram"><i class="icon-lg ion-social-instagram-outline"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <br />
                <span class="pull-right text-muted small"><a href="https://mosescoder.azurewebsites.net/">Created by Moses Mbutha Mwangi</a> Â©2019</span>
            </div>
        </footer>*@
    <div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="~/assets/main_picture.jpg" id="galleryImage" class="img-responsive" />
                    <p>
                        <br />
                        <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="galleryModal2" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">

                    <img src="~/assets/picture2.jpg" id="galleryImage" class="img-responsive" />
                    <p>
                        <br />
                        <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="galleryModal3" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="~/assets/picture3.jpg" id="galleryImage" class="img-responsive" />
                    <p>
                        <br />
                        <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="galleryModal4" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="~/assets/main_picture.jpg" id="galleryImage" class="img-responsive" />
                    <p>
                        <br />
                        <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="galleryModal5" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="~/assets/main_picture.jpg" id="galleryImage" class="img-responsive" />
                    <p>
                        <br />
                        <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="galleryModal6" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="~/assets/main_picture.jpg" id="galleryImage" class="img-responsive" />
                    <p>
                        <br />
                        <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="text-center">Moses Mwangi</h2>
                    <h4 class="text-center text-justify">
                        Giving thanks to God and the Opportunity that Coder foundry has given me to grow and showcase my skills
                        Thankful for my beautiful wife Josephine and daughter Zuri who have been very supportive of my dream to be a .NET developer
                        <br />                       
                    </h4>
                    <p class="text-justify">
                        Everyday I'm presented with different challenges and opportunities to grow,
                        everyday I know Im a better coder and better problem solver. I enjoy solving problems with code and the
                        satisfaction it gives me is second to none.
                    </p>
                    <p class="text-center">
                        <a href="https://www.linkedin.com/in/moses-mwangi-787a7431">To see my linked in profile</a>
                    </p>
                    <br />
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
                </div>
            </div>
        </div>
    </div>
    <div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="text-center">Nice Job!</h2>
                    <p class="text-center">You clicked the button, but it doesn't actually go anywhere because this is only a demo.</p>
                    <p class="text-center">
                        <a href="https://mosescoder.azurewebsites.net/">Learn More at MosesCoder</a>
                    </p>
                    <br />
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK <i class="ion-android-close"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!--scripts loaded here -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/wow.js"></script>
    <script src="~/Scripts/scripts.js"></script>
    <script src="~/Scripts/math_exercise.js"></script>

</body>
</html>
<script type="text/javascript">
    SyntaxHighlighter.all()
</script>

